<div class="w-4/5 rounded bg-white mx-3 px-6 py-7 shadow-lg">
  <div class="flex flex-col justify-center items-center mb-3">
    <div>
      <img class="h-8" src="../../assets/logo.png" />
    </div>
    <div>
      <span class="font2 font-bold text-2xl">Login</span>
    </div>
    <div>
      <span class="font2 text-sm text-gray-400"
        >Sign in to your account...</span
      >
    </div>
  </div>
  <mat-divider></mat-divider>
  <!-- <div [formGroup]="loginFormGroup">
  <div class="flex flex-col mt-5 mb-3.5">
    <mat-form-field class="">
      <mat-label class="font2">Email</mat-label>
      <input type="text" matInput formControlName="email" />
      <mat-error
        class="my-1"
        *ngIf="loginFormGroup.get('email')?.hasError('required')"
      >
        Email is required
      </mat-error>
      <mat-error
        class="my-1"
        *ngIf="loginFormGroup.get('email')?.hasError('email')"
      >
        Please enter a valid email
      </mat-error>
    </mat-form-field>
    <mat-form-field class="mt-2">
      <mat-label class="font2">Password</mat-label>
      <input type="password" matInput formControlName="password" />
      <mat-error
        class="my-1"
        *ngIf="loginFormGroup.get('password')?.hasError('required')"
      >
        Password is required
      </mat-error>
      <mat-error
        class="my-1"
        *ngIf="loginFormGroup.get('password')?.hasError('minlength')"
      >
        Password must be at least 6 characters
      </mat-error>
    </mat-form-field>
    <span
      class="text-red-500 text-xs ml-1"
      *ngIf="errorMsg && errorMsg !== ''"
      >*{{ errorMsg }}</span
    >
    <div class="text-end">
      <span
        (click)="isForgetPassword = true"
        class="text-sm text-cyan-600 p-0 cursor-pointer hover:underline"
        >Forgot Password?</span
      >
    </div>
  </div>
  <div class="mb-3">
    <button
      (click)="login()"
      [disabled]="!loginFormGroup.valid"
      mat-flat-button
      class="!text-white w-full"
      color="primary"
    >
      Sign In
    </button>
  </div>
</div> -->
  <div class="flex justify-center">
    <span class="text-sm font-bold font2">Don't have an account? &nbsp;</span
    ><span
      [routerLink]="['/signup']"
      class="text-cyan-600 cursor-pointer hover:underline"
      >Sign Up</span
    >
  </div>
</div>
