<!-- <mat-toolbar class="">
  <img class="h-10" src="../../assets/logo.png" />

  <span class="text-cyan-600 mx-4">Royal Clinic</span>
  <span class="example-spacer"></span>
  <div class="text-sm text-gray-600 flex items-center flex-row">
    <div class="mx-4">
      <span>Home</span>
    </div>
    <div class="mx-4">
      <span>About us</span>
    </div>
    <div class="mx-4">
      <button
        routerLink="/login"
        mat-flat-button
        class="!bg-cyan-500 !text-white"
      >
        Login
      </button>
    </div>
  </div>
</mat-toolbar> -->

<div
  class="bg-gradient-to-r from-pink-50 from-30% via-pink-200 via-70% to-pink-600 h-full flex flex-col-reverse md:flex-row items-center justify-center w-full"
>
  <div
    class="w-full md:w-1/2 font1 font-bold text-4xl sm:text-5xl text-cyan-800 mx-8 flex-row xs:justify-center md:justify-start text-center"
  >
    <span class="my-2 text-center">YOUR HEALTH IS OUR CARE</span>
    <div class="font2 text-sm text-gray-500 my-4 mx-2 text-center">
      Discover exceptional care at The One Care Hospital, where advanced
      technology and expert specialists meet your health needs.
    </div>
    <div class="flex justify-center">
      <button
        routerLink="/medical-appointment"
        class="!bg-pink-500 !text-white !rounded-full"
        mat-flat-button
      >
        <span class="">Schedule Appointment</span>
      </button>
    </div>
  </div>
  <div
    class="w-full h-1/2 md:h-full md:w-1/2 flex justify-center md:items-center md:justify-end"
  >
    <img
      class="h-full md:h-3/4 mb-9 relative right-12 md:right-40"
      src="../../assets/doctor2.jpg"
    />
  </div>
</div>
