<div
  class="bg-gradient-to-r py-10 from-pink-50 to-pink-200 h-full w-full flex flex-col justify-center items-center"
>
  <div
    class="w-4/5 bg-gradient-to-r from-pink-100 to-white rounded px-10 md:px-20shadow-lg"
  >
    <div class="flex items-center">
      <div class="w-full mt-5 mb-3 flex flex-col">
        <div>
          <span class="text-4xl font-bold font2">My Orders</span>
        </div>
        <div>
          <span class="font2 text-red-500 font-semibold">Home / My Orders</span>
        </div>
      </div>
    </div>
    <mat-divider class="mb-10"></mat-divider>
    <div *ngIf="isLoading" class="flex justify-center my-5">
      <mat-spinner [diameter]="40"></mat-spinner>
    </div>
    <div
      *ngIf="dataSource.length === 0 && !isLoading"
      class="flex flex-col justify-center items-center mt-3 my-5"
    >
      <div class="font2 my-2 text-center">You have not made any orders...</div>
    </div>

    <div
      *ngIf="dataSource.length !== 0 && !isLoading"
      class="my-8 table-container overflow-x-auto w-full md:w-full rounded-xl shadow-lg"
    >
      <table
        mat-table
        [dataSource]="dataSource"
        class="mat-elevation-z8 example-table w-full md:w-full table-fixed p-2 h-36 overflow-y-scroll"
      >
        <!--- Note that these columns can be defined in any order.
                  The actual rendered columns are set as a property on the row definition" -->

        <!-- Position Column -->
        <ng-container matColumnDef="sno">
          <th mat-header-cell *matHeaderCellDef>Sno</th>
          <td mat-cell *matCellDef="let element; let i = index">{{ i + 1 }}</td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="date">
          <th mat-header-cell *matHeaderCellDef>Date of purchase</th>
          <td mat-cell *matCellDef="let element">
            {{ element.purchasedDate | date : "mediumDate" }}
          </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="products">
          <th mat-header-cell *matHeaderCellDef>Products</th>
          <td mat-cell *matCellDef="let element">
            <div *ngFor="let product of element.product">
              <span class="font2"
                >{{ product.name | titlecase }} (x{{ product.qty }})</span
              >
            </div>
          </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="price">
          <th mat-header-cell *matHeaderCellDef>Price</th>
          <td mat-cell *matCellDef="let element">
            ₹{{ element.purchasedAmt }}
          </td>
        </ng-container>
        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef>Status</th>
          <td mat-cell *matCellDef="let element">
            <div
              class="bg-green-100 text-green-500 px-2 py-1 rounded text-center"
            >
              {{ element.status | titlecase }}
            </div>
          </td>
        </ng-container>

        <tr
          mat-header-row
          *matHeaderRowDef="displayedColumns; sticky: true"
        ></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>
  </div>
</div>
